[Unit]
Description=Disk monitor every 6h

[Timer]
OnBootSec=40min
OnCalendar=*-*-* 00,06,12,18:45:00
Persistent=true

[Install]
WantedBy=timers.target
