{
  "openapi": "3.1.0",
  "info": {
    "title": "Octopus Agent Control API",
    "description": "API для управления агентом Octopus: чтение скиллов, выполнение команд, обход директорий, управление сервисами.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.autosklo.org.ua"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/v2/skills/index": {
      "get": {
        "operationId": "get_skills_index",
        "summary": "Get index of all available skills grouped by category",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skills index",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/skills/read_all": {
      "get": {
        "operationId": "read_all_instructions",
        "summary": "Read ALL skill instruction files in parallel",
        "parameters": [
          {
            "name": "max_parallel",
            "in": "query",
            "description": "Max parallel reads (1-64)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All skill instructions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/skills/{category}": {
      "get": {
        "operationId": "get_skills_by_category",
        "summary": "List skills in a category",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skills list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/skills/{category}/{name}": {
      "get": {
        "operationId": "get_skill_detail",
        "summary": "Read full content of a skill instruction file",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skill content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/batch/execute": {
      "post": {
        "operationId": "run_batch",
        "summary": "Execute multiple shell commands in parallel (up to 64)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "commands"
                ],
                "properties": {
                  "commands": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Shell commands to execute",
                    "maxItems": 64
                  },
                  "timeout": {
                    "type": "integer",
                    "default": 30
                  },
                  "working_dir": {
                    "type": "string",
                    "default": "/root/agents/-Octopus"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/fs/walk": {
      "get": {
        "operationId": "walk_directory_recursive",
        "summary": "Recursively walk a directory tree",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_depth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5
            }
          },
          {
            "name": "pattern",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Directory tree",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/fs/read_batch": {
      "post": {
        "operationId": "batch_read_files",
        "summary": "Read multiple files in parallel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "paths"
                ],
                "properties": {
                  "paths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 32
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File contents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/fs/write_batch": {
      "post": {
        "operationId": "batch_write_files",
        "summary": "Write multiple files in parallel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "path",
                        "content"
                      ],
                      "properties": {
                        "path": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    },
                    "maxItems": 32
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Write results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/system/services": {
      "get": {
        "operationId": "get_services_status",
        "summary": "Get status of all Octopus systemd services",
        "responses": {
          "200": {
            "description": "Service statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/system/services/batch": {
      "post": {
        "operationId": "batch_service_action",
        "summary": "Start/stop/restart multiple services in parallel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "services",
                  "action"
                ],
                "properties": {
                  "services": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "start",
                      "stop",
                      "restart",
                      "status"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}
